<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwardWallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ru</string>
		<string>pt</string>
		<string>es</string>
		<string>fr</string>
		<string>de</string>
		<string>zh-Hant</string>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.44.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.awardwallet.iphone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awardwallet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.253239238521-g9tbkhoo0pmmnqarevijscomhm9ei4gc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb75330755697</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4.44.9</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<string>FALSE</string>
	<key>FacebookAppID</key>
	<string>75330755697</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<string>TRUE</string>
	<key>FacebookClientToken</key>
	<string>209bb09a19aea3673c99afe875e6e28a</string>
	<key>FacebookDisplayName</key>
	<string>AwardWallet</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://link.awardwallet.com</string>
		<string>https://awardwallet.page.link</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>so that you can scan your physical loyalty cards and save them in AwardWallet</string>
	<key>NSFaceIDUsageDescription</key>
	<string>AwardWallet uses Face ID to authenticate</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Needed to get your current location to show where you are on the map and to deliver retail shopping loyalty cards (with barcodes) to your home screen when you come to the store.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Needed to get your current location to show where you are on the map and to deliver retail shopping loyalty cards (with barcodes) to your home screen when you come to the store.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Needed to get your current location to show where you are on the map and to deliver retail shopping loyalty cards (with barcodes) to your home screen when you come to the store.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>so that you can scan your physical loyalty cards and save them in AwardWallet</string>
	<key>UIAppFonts</key>
	<array>
		<string>aircrafts.ttf</string>
		<string>opensans-bold-webfont.ttf</string>
		<string>opensans-regular-webfont.ttf</string>
		<string>optimist-normal.ttf</string>
		<string>awardwallet.ttf</string>
		<string>opensans-bold-italic.ttf</string>
		<string>opensans-italic.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>accounts</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>menu.button.accounts</string>
			<key>UIApplicationShortcutItemType</key>
			<string>AccountsList</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>path</key>
				<string>/account/list</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>trips</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>menu.button.trips</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Timeline</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>path</key>
				<string>/timeline</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>bookings</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>menu.button.bookings</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Bookings</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>path</key>
				<string>/awardBooking/requests</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>vaccine</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>menu.button.covid19</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Covid 19 Vaccine Card</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>path</key>
				<string>/covid19</string>
			</dict>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>bed8e988e636321a80824b1c70662680</string>
	</dict>
</dict>
</plist>
