{
    "transDir": "translations",
    "include": [
        "app"
    ],
    "exclude": [
        "app/assets/languages",
        "app/vendor/crashlytics",
        "app/vendor/intl"
    ],
    "dumpDomains": [
        "mobile-native"
    ],
    "frontendDir": "%PATH_TO_FRONTEND%"
}